{% extends "layout.html" %}

{% block body %}
    <div style="border: 2px solid black;">
        <h4 style="text-align: center">Créer un ticket</h4>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <div>
                    <h5>Titre</h5>
                    {{ form_ticket.title }}
                    <h5>Description</h5>
                    {{ form_ticket.description }}
                    <br>
                    {{ form_ticket.image }}
                    {{ form_ticket.user.as_hidden }}
                </div>
            </div>
            <div>
                <button class="btn btn-primary">Envoyer</button>
            </div>
        </form>
    </div>
{% endblock %}