{% extends "layout.html" %}

{% block body %}
    <h4>Créer un ticket</h4>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <h4>Livre/Article</h4>
            <div>
                <h5>Titre</h5>
                {{ form_ticket.title }}
                <h5>Description</h5>
                {{ form_ticket.description }}
                <br>
                {{ form_ticket.image }}
                {{ form_ticket.user.as_hidden }}
            </div>
        </div>
        <div>
            <button>Envoyer</button>
        </div>
    </form>
{% endblock %}