{% extends "layout.html" %}

{% block body %}
    <div class="py-5">
        <div class="container" style="text-align: center">

            <a href={% url 'create-ticket' %}><button class="btn btn-large btn-primary">Demander une critique</button></a>
            <a href={% url 'create-review' %}><button class="btn btn-large btn-primary">Créer une critique</button></a>

            <br><hr>

            {% for ticket in tickets %}
                {% if ticket.review.exists %}
                {% else %}
                    <div style="border: 2px solid black;">
                        Vous avez publié un ticket
                        {{ ticket.title }}<br>
                        {{ ticket.description }}<br>
                        <img src="{{ ticket.image.url }}" widht="200px" height="200px"><br>
                        {{ ticket.time_created }}<br>
                        {% if ticket.review.exists %}
                        {% else %}
                            <a href={% url 'create-review-ticket' id=ticket.id %}><button class="btn btn-large btn-primary">Répondre à un ticket</button></a>
                        {% endif %}
                    </div>
                    <br><hr>
                {% endif %}
            {% endfor %}
            <br><hr><br>
            {% for review in reviews %}
                <div style="border: 2px solid black;">
                    Vous avez publié une critique<br>
                    {{ review.headline }} - {{ review.rating }}<br>
                    {{ review.body }}<br>
                    {{ review.time_created }}<br>
                    <div style="border: 2px solid black; margin: 30px">
                        Ticket - {{ review.ticket.user }}<br>
                        {{ review.ticket.title }}<br>
                        {{ review.ticket.description }}<br>
                        <img src="{{ review.ticket.image.url }}" widht="200px" height="200px"><br>
                        {{ review.ticket.time_created }}<br>
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
    </div>
{% endblock %}
