{% extends "layout.html" %}

{% block body %}
    <div class="py-5">
        <div class="container" style="text-align: center">

            <a href={% url 'create-ticket' %}><button>Demander une critique</button></a>
            <a href={% url 'create-review' %}><button>Créer une critique</button></a>

            <div>
             <h5>Vous avez publié une critique</h5>
            </div>
            {% for ticket in tickets %}
                <div>
                    {{ ticket.title }}<br>
                    {{ ticket.description }}<br>
                    {{ ticket.user }}<br>
                    <img src="{{ ticket.image.url }}" widht="200px" height="200px"><br>
                    {{ ticket.time_created }}<br>
                    {% if ticket.review.exists %}
                    {% else %}
                        <a href={% url 'create-review-ticket' id=ticket.id %}><button>Répondre à un ticket</button></a>
                    {% endif %}
                </div>
                <br><hr>
            {% endfor %}
            <br><hr><br>
            {% for review in reviews %}
                <div>
                    {{ review.headline }}<br>
                    {{ review.body }}<br>
                    {{ review.rating }}<br>
                    {{ review.user }}<br>
                    {{ review.time_created }}<br>
                    {{ review.ticket.title }}<br>
                    {{ review.ticket.description }}<br>
                    {{ review.ticket.user }}<br>
                    <img src="{{ review.ticket.image.url }}" widht="200px" height="200px"><br>
                    {{ review.ticket.time_created }}<br>
                </div>
                <hr>
            {% endfor %}
        </div>
    </div>
{% endblock %}
