{% extends "layout.html" %}

{% block body %}
    <div>
        <h4>Suivre d'autres utilisateurs</h4>
        <form action={% url "add_user_follow" %} method="post">
            {% csrf_token %}
            <span>
                <input name="username_search" id="username_search" placeholder="Nom d'utilisateur">
                <button id="button_search">Envoyer</button>
            </span>
        </form>
    </div>

    <div>
        <h4>Abonnements</h4>
        {% for following in following %}
            <span>
                <h5>{{ following.followed_user }}</h5>
                <form method="post" action={% url "remove_user_follow" %}>
                    {% csrf_token %}
                    <input type="hidden" name="followed_user" value="{{ following.followed_user.id }}">
                    <button>Se désabonner</button>
                </form>
            </span>
        {% endfor %}
    </div>

    <div>
        <h4>Abonnés</h4>
        {% for follower in followers %}
            <h5>{{ follower.user }}</h5>
        {% endfor %}
    </div>
{% endblock %}