{% extends "layout.html" %}

{% block body %}
    <h4 style="text-align: center">Modifier votre ticket</h4>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <div>
                <h5>Titre</h5>
                <div style="border: 1px solid black; margin-left: 50px; width: 1200px">
                    <h5 style="text-align: left">{{ form_ticket.title }}</h5>
                </div>
                <h5>Description</h5>
                <div style="border: 1px solid black; margin-left: 50px; width: 1200px">
                    {{ form_ticket.description }}
                </div>
                <br>
                <img src="{{ ticket.image.url }}" widht="200px" height="200px"><br>
                {{ form_ticket.image }}
                {{ form_ticket.user.as_hidden }}
            </div>
        </div>
        <div>
            <button class="btn btn-primary">Envoyer</button>
        </div>
    </form>
{% endblock %}